<% error = @push.errors.key?(:message) && @push.errors[:message].count > 0 %>
<div class="form-group <%= error ? 'has-error' : ''%>">
  <%= f.label '消息', :class => 'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= f.text_area :message, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-block m-b-none'><%= error ? f.error_message_on(:message) : "" %></span>
  </div>
</div>

<div class="hr-line-dashed"></div>

<% error = @push.errors.key?(:type) && @push.errors[:type].count > 0 %>
<div class="form-group <%= error ? 'has-error' : ''%>">
  <%= f.label '类型', :class => 'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= f.select :type, :options => Push.get_type.invert, :class => 'form-control input-xlarge input-with-feedback', :include_blank => true%>
    <span class='help-block m-b-none'><%= error ? f.error_message_on(:type) : "" %></span>
  </div>
</div>
<div class="hr-line-dashed"></div>

<% error = @push.errors.key?(:channel_id) && @push.errors[:channel_id].count > 0 %>
<div class="form-group <%= error ? 'has-error' : ''%>">
  <%= f.label '渠道', :class => 'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= f.select :channel_id, :options => Channel.channels, :class => 'form-control input-xlarge input-with-feedback', :include_blank => true %>
    <span class='help-block m-b-none'><%= error ? f.error_message_on(:channel_id) : "" %></span>
  </div>
</div>

<div class="hr-line-dashed"></div>

<% error = @push.errors.key?(:version) && @push.errors[:version].count > 0 %>
<div class="form-group <%= error ? 'has-error' : ''%>">
  <%= f.label '版本号', :class => 'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= f.text_field :version, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-block m-b-none'><%= error ? f.error_message_on(:version) : "" %></span>
  </div>
</div>

<div class="hr-line-dashed"></div>

<% error = @push.errors.key?(:school_id) && @push.errors[:school_id].count > 0 %>
<div class="form-group <%= error ? 'has-error' : ''%>">
  <%= f.label '驾校', :class => 'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= f.select :school_id, :options => School.schools, :class => 'form-control input-xlarge input-with-feedback', :include_blank => true %>
    <span class='help-block m-b-none'><%= error ? f.error_message_on(:school_id) : "" %></span>
  </div>
</div>

<div class="hr-line-dashed"></div>

<% error = @push.errors.key?(:user_status) && @push.errors[:user_status].count > 0 %>
<div class="form-group <%= error ? 'has-error' : ''%>">
  <%= f.label '学员状态', :class => 'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= f.select :user_status, :options => Push.get_user_status.invert, :class => 'form-control input-xlarge input-with-feedback', :include_blank => true %>
    <span class='help-block m-b-none'><%= error ? f.error_message_on(:user_status) : "" %></span>
  </div>
</div>

<div class="hr-line-dashed"></div>

<div class="form-group <%= error ? 'has-error' : ''%>">
  <%= f.label '客户端', :class => 'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <% Push.get_editions.each do |value| %>
        <%= f.label value[1] %>
        <%= check_box_tag "editions[]", :value => value[0], :class => 'list-selectable-checkbox', :checked => @push.editions.split(':').include?(value[0].to_s) %>
        &nbsp;
    <% end %>
    <span class='help-block m-b-none'><%= error ? f.error_message_on(:edition) : "" %></span>
  </div>
</div>

<div class="hr-line-dashed"></div>

<div class="form-actions">
    <div class="col-sm-8 col-sm-offset-4">
        <%= f.submit pat(:save), :class => 'btn btn-primary' %>
          &nbsp;
        <%= link_to pat(:cancel), url(:pushes, :index), :class => 'btn btn-default' %>
    </div>
</div>