<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">
  <title> <%= @title %> </title>
  <%= stylesheet_link_tag '../../master/css/style', '../../master/css/style-responsive' %>
  <%= javascript_include_tag '../../master/js/jquery-1.10.2.min' %>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <%= javascript_include_tag '../../master/js/html5shiv','../../master/js/respond.min','../../master/js/jquery-1.10.2.min' %>
  <![endif]-->
</head>

<body class="horizontal-menu-page">

<section>

  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">
          <%=image_tag '../../images/logo.png', :style => 'height: 30px;margin-top: 6px;' %>
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/magicbox">首页</a></li>
          <li><a href="/magicbox/schools">驾校管理</a></li>
          <li><a href="/magicbox/push">推送管理</a></li>
          <li><a href="/magicbox/advertisement">广告管理</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Jackson<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/magicbox/login/logout">退出</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>


  <!--body wrapper start-->
  <div class="wrapper">
    <%= yield %>
  </div>
  <!--body wrapper end-->

  <!--footer section start-->
  <footer class="sticky-footer">
    2016(C) www.tekala.cn
  </footer>
  <!--footer section end-->

</section>

<!-- Placed js at the end of the document so the pages load faster -->
<%= javascript_include_tag '../../master/js/jquery-ui-1.9.2.custom.min','../../master/js/jquery-migrate-1.2.1.min',
    '../../master/js/bootstrap.min','../../master/js/modernizr.min','../../master/js/jquery.nicescroll','../../master/js/scripts'
%>
<!--common scripts for all pages-->

</body>
</html>
