<div class=base-text>
  <p>简易的特快拉后台.</p>
  <p>将就用吧!</p>
  <p>哈哈哈哈哈</p>
</div>

<div class=base-icons>
  <div class=btn-group>
    <a href="<%=url(:questions, :index)%>"><div class="btn btn-primary" title=""><%= tag_icon("cogs fa-2x", "常见问题") %></div></a>
    <a href="<%=url(:articles, :index)%>"><div class="btn btn-success"><%= tag_icon("book fa-2x", "行业资讯") %></div></a>
    <a href="<%=url(:schools, :index)%>"><div class="btn btn-info"><%= tag_icon("tasks fa-2x", "驾校管理") %></div></a>
    <a href="<%=url(:ads, :index)%>"><div class="btn btn-warning"><%= tag_icon("flag fa-2x", "启动页广告管理") %></div></a>
    <a href="<%=url(:pushes, :index)%>"><div class="btn btn-danger"><%= tag_icon("envelope fa-2x", "推送管理") %></div></a>
    <a href="<%=url(:users, :index)%>"><div class="btn btn-purple"><%= tag_icon("user fa-2x", "学员管理") %></div></a>
    <a href="<%=url(:teachers, :index)%>"><div class="btn btn-grass"><%= tag_icon("group fa-2x", "教练管理") %></div></a>
  </div>
</div>
