<div class="container-fluid" style="margin-bottom:20px">
  <div class="row">
    <div class="col-lg-3" style="margin-bottom: 10px">
      <a href="/magicbox/schools/new" class="btn btn-success">添加驾校</a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <form action="" class="form-horizontal row" role="form">
        <div class="col-lg-10">
          <input type="text" name="name" value="<%= params[:name] %>" class="form-control">
        </div>
        <div class="col-lg-2" >
          <input type="submit" value="搜索" class="btn btn-primary">
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container-fluid">
  <%= {:error => 'danger', :warning => 'warning', :success => 'success', :notice => 'info'}.map { |type, class_name| flash_tag(type, :class => "alert alert-#{class_name} fade in", :bootstrap => true) }.join.html_safe %>

  <div class="row">
    <div class="col-lg-12" >
      <section class="panel">
        <table class="table table-condensed table-striped">
          <thead>
          <tr style="padding:0">
            <th>ID</th>
            <th>驾校名称</th>
            <th>咨询人数</th>
            <th>学员数</th>
            <th>教练数</th>
            <th>车辆数</th>
            <th>门店数</th>
            <th>最近七天报名人数</th>
            <th>注册时间</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <% @schools.each do |school| %>
              <tr>
                <td><%=school.id%></td>
                <td><%=school.name%></td>
                <td><%=school.consult_count%></td>
                <td><%=school.student_count%></td>
                <td><%=school.teacher_count%></td>
                <td><%=school.car_count%></td>
                <td><%=school.shop_count%></td>
                <td><%=school.last_7days_signup_count%></td>
                <td><%=school.created_at.strftime('%Y年%m月%d日') %></td>
                <td><a href="">推送</a>|<a href="">广告</a>|<a href="/magicbox/schools/edit/<%= school.id %>">修改资料</a>|<a href="">禁用</a></td>
              </tr>
          <% end %>
          </tbody>
        </table>
        <p style="padding:10px">每页20条</p>
      </section>
    </div>
  </div>
  <div class="row">
    <%= will_paginate @schools,renderer: WillPaginate::ViewHelpers::BoostrapLinkRenderer %>
  </div>
</div>