<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="author" content="萌萌学车">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <link rel="icon" href="/images/icon.png">

    <title>萌萌学车</title>
    <%=javascript_include_tag 'jquery-1.11.0.min' %>

    <!-- Bootstrap core CSS -->
    <%=stylesheet_link_tag 'bootstrap.min', 'font-awesome.min'%>

    <%=javascript_include_tag 'sweetalert.min', 'modal' %>
    <%=stylesheet_link_tag 'sweetalert', 'modal' %>

    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>

    <body>
    <script type="text/javascript">
      $('body').fadeOut(0).fadeIn(1000);
    </script>

      <style type="text/css">
        html,body,.container{
          font-size: 14px;
          width: 100%;
          height:100%;
        }
        body{
          background-color: #f2f2f2;
        }
        .clear{
          clear:both;
        }
        .nav{
          padding:10px 0;
          /*border:1px red solid;*/
         
          color:#FFAA26;
          text-align: center;
          height:48px;
          padding:6px;
          background-color: #FFCC07;
        }
        .nav img{
          height: 100%;
          margin:0 auto;
        }
        .footer{
          position: fixed;
          bottom: 0px;
          width: 100%;
        }
        a{
          color:#FFAA26!important;
        }
        .active{
          background-color: #FFDD58;
        }
        .active a{
          color:#ffffff!important;
        }

        .gray{
          color:#777777;
        }
        .black{
          color:#333333;
        }
        
        .header{
          width: 100%;
          position: fixed;
          z-index: 100;
          top:0;
          background-color: #FFC300;
          height: 50px;
          border-bottom: 2px #fad322 solid;
        }
        .clear{
          clear: both;
        }
        .header-content{
          padding-top: 5px;

        }
        .header-content p{
          line-height: 40px;
          font-size: 1.4em;
          color:#ffffff;
        }
        .center{
          text-align: center;
          margin-bottom: 4px;
        }
        .logo{
          height:40px;
        }
        hr{
          border-bottom:1px #cccccc solid;
        }


        /* --------------  */
        /*  custom-select  */
        /* --------------  */
        .custom-select {
          position: relative;
        }

        .custom-select select {
          float: right;
          width:30%;
          margin:0;
          background:none;
          border: 1px solid transparent;
          outline: none;
          /* Prefixed box-sizing rules necessary for older browsers */
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          /* Remove select styling */
          appearance: none;
          -webkit-appearance: none;
          /* Font size must the 16px or larger to prevent iOS page zoom on focus */
          /* General select styles: change as needed */
          font-family: helvetica, sans-serif;
          font-weight: bold;
          font-size: 18px;
          color: #444;
          padding: 0px 15px 0px 10px;
          line-height:1.3;
          direction: rtl;
          margin-top: 20px;
          flex:1;
        }
        .custom-select::after {
          content: "";
          position: absolute;
          width: 0px;
          height: 0px;
          top: 50%;
          right: 8px;
          margin-top:-4px;
          border:8px solid #929497;
          border-width: 8px 5px 8px;
          border-color: #929497 transparent transparent transparent;
          z-index: 2;
          pointer-events:none;
        }


        /* Set options to normal weight */
        .custom-select option {
          font-weight:normal;
          direction: inherit;
        }
        x:-o-prefocus, .custom-select::after {
          display:none;
        }    
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
          .custom-select select::-ms-expand {
            display: none;
          }
        }  
        @-moz-document url-prefix() { 
          .custom-select {
            overflow: hidden;
          }
          .custom-select select {
            width: 120%;
            width: -moz-calc(100% + 3em);
            width: calc(100% + em);
          }
          
        }
        .card-button{
          height:19px!important;
          width: 40px!important;
          background-size: 100% 200%;
          background-position: bottom;
          font-size: 14px;
          margin-right: 5px;
          margin-top: 20px;
          float: right;
        }
        .card-no{
          background-image:url('/m/images/vol4/btn_no.png');
        }
        .card-yes{
          background-position: top;
          background-image:url('/m/images/vol4/btn_yes.png');
        }

       .back{
          font-size: 20px;
          background-color:#FFD24C;
          height: 44px;
          padding:0px;
          line-height: 44px;
          text-align: center;
          position: fixed;
          z-index: 100;


        }
        .back .icon{
          float: left;
          padding-left:10px;
          font-size: 30px;
        }
        a .back{
          color:#666666;
        }
        .main{
          width: 100%;
          padding:0px;
        }

        ul{
          list-style-type: decimal;
          padding:15px;
        }
        ul li{
          text-align: justify;
        }

        .text-field{
        height: 60px;
        background-color: #ffffff;
        border-bottom:#BBBBBB 1px solid;
        width: 100%;
        text-align: center;
        display: flex;
      }
      .text-field:first-child {
        border-top:#BBBBBB 1px solid;
      }
      .text-field input{
        background-color: #ffffff;
        margin: auto;
        width:70%;
        height: 100%;
        border:0px;
        font-size: 18px;
        outline: none;
        text-align: right;
        color: #333333;
        padding-right: 0px;
      }
     
      .left-placeholder{
        float: left;
        width: 80px;
        font-size: 15px;
        color: #777777;
        text-align: left;
        padding-left: 15px;
        padding-top: 17px;
      }
      .btn{ 
        margin: auto;
        margin-top: 15px;
        display:block; 
        width:70% !important; 
        border:0; 
        height:45px; 
        line-height:30px; 
        font-size:18px; 
        text-align:center; 
        border-radius:5px; 
        color:#765039; 
        background:#FFCC07;
        color:#4cae4c!important;
        font-size: 1.2em;
        border:1px #4cae4c solid;
      }
      
      .button{
        border-bottom: 1px solid #bbb;
        border-radius: 1px;
        box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
        width: 100%;
        background: white;
      }
      </style>


      <div class='container main'>

						<div class='rows'>
						  <div class="col-xs-12 back" style='padding-left:0px;'>
						    4800元全包班报名
						  </div>
						</div>
						<div class="clear"></div>
						<div class='top-back' style='height:40px;'></div>

						
						<div class="rows">
							<%=image_tag 'banner_2.png', :class=>'img-responsive', :style=>'margin:0px auto;'%>
						</div> 
            <form id='signup_form' method="post">
            <div class="rows">
              <div class="col-xs-12 text-field" >
                <div class="left-placeholder">姓名</div>
                <input type='text' name='name' id='name' value="<%=params[:name]%>" />
                <input type='text' style='display:none;' name='wechat_avatar' value="<%=params[:wechat_avatar]%>" />
                <input type='text' style='display:none;' name='wechat_unionid' value="<%=params[:wechat_unionid]%>" />
              </div>
              <div class="col-xs-12 text-field" >
                <div class="left-placeholder">手机</div>
                <input type='text' name='mobile' id="mobile" value="<%=params[:mobile]%>" />
              </div>

              <div class="col-xs-12 text-field" >
                <div class="left-placeholder">邮箱</div>
                <input type='email' name='email' id="email" value="<%=params[:email]%>" />
              </div>

              <div class="col-xs-12 text-field">
                <div class="left-placeholder">身份证号</div>
                <input type='text' name='id-card' id='id-card' value="<%=params['id-card']%>"  />
              </div>

              <div class="col-xs-12 text-field">
                <div class="left-placeholder">密码</div>
                <input type='password' name='password' id='password' value="<%=params[:password]%>"  />
              </div>

              <div class="col-xs-12 text-field">
                <div class="left-placeholder">重复密码</div>
                <input type='password' name='password_confirm' id='password_confirm' value="<%=params[:password_confirm]%>"  />
              </div>

              <div class="col-xs-12 button custom-select text-field">
                <div class="left-placeholder">工作区域</div>
                <%= select_tag :work_area, :options => User::work_area, :selected => params[:work_area] ? params[:work_area] : 5 %>
              </div>

              <div class="col-xs-12 button custom-select text-field">
                <div class="left-placeholder">居住区域</div>
                <%= select_tag :live_area, :options => User::live_area, :selected => params[:live_area] ? params[:work_area] : 5 %>
              </div>

              <div class="col-xs-12 button custom-select text-field">
                <div class="left-placeholder">从事行业</div>
                <%= select_tag :profession, :options => User::profession, :selected => params[:profession] ? params[:profession] : 1 %>
              </div>

              <div class="col-xs-12 text-field">
                <div class="left-placeholder" style='width:200px;'>深户或有深圳居住证？</div>
                <div class='card-button card-yes' >
                  <input type='radio' name='local' value="1" style='display:none;' checked />
                </div>
                <div class='card-button card-no' >
                  <input type='radio' name='local' value="0" style='display:none;' />
                  
                </div>
              </div>

              <div class="clear"></div>
            </div>

						<div class="rows" style='margin-top:10px;'>
							<div class="col-xs-12">
								<button  href='<%=url(:weixin_public, :signup)%>' style='width:100%;background-color:#f2f2f2;', class ='btn btn-success btn-outline'>报名</button>
								<br>
								<br>
								<br>
							</div>
						</div>
           </div>
      </div>
    </body>

    <script type="text/javascript">

    // var year = '445121198411074550'
      $(function(){
      $('.card-button').click(function(){
          $(this).find('input').attr('checked',true);
          $('.card-button').css('background-position', 'bottom');
          $(this).css('background-position','top');
      })

      <% if @error %>
      swal({   title: "",   text: "<%= @error %>",   timer: 2000,   showConfirmButton: false });
      <% end %>
      $('.btn').click(function(event) {
        event.preventDefault();
        
        // else if($('#id-card').val().substr(6, 4) < 1985 && $('#id-card').val().substr(16, 1)%2 == 0 ){

        //   swal({   title: "",   text: "本活动暂只对85后青年开放",   timer: 2000,   showConfirmButton: false });
        //   return false;

        // }

        // else if($('#id-card').val().substr(6, 4) < 1985){

        //   swal({   title: "",   text: "本活动暂只对85后青年开放",   timer: 2000,   showConfirmButton: false });
        //   return false;
        
        // }
        
        if ($('#mobile').val().length != 11) {
          swal({   title: "",   text: "手机号必须是11位数字",   timer: 2000,   showConfirmButton: false });
          return false;
        }else if($('#id-card').val().length != 18){
          swal({   title: "",   text: "身份证号码必须是18位数字",   timer: 2000,   showConfirmButton: false });
          return false;
        }else if($('#email').val() == ''){
          swal({   title: "",   text: "请填写您的邮箱",   timer: 2000,   showConfirmButton: false });
          return false;
        }else if($('#name').val() == ''){
           swal({   title: "",   text: "请填写您的名字",   timer: 2000,   showConfirmButton: false });
          return false;
        }else if($('#password').val() == ''){
           swal({   title: "",   text: "请设置登陆密码",   timer: 2000,   showConfirmButton: false });
          return false;
        }else if($('#password').val().length < 5){
           swal({   title: "",   text: "密码必须多于6位",   timer: 2000,   showConfirmButton: false });
          return false;
        }else if($('#password').val() != $('#password_confirm').val() ){
           swal({   title: "",   text: "密码设置不一致",   timer: 2000,   showConfirmButton: false });
          return false;
        }else if($('#company_id').val() == ''){
           swal({   title: "",   text: "请选择您所在公司",   timer: 2000,   showConfirmButton: false });
           return false;
        }

        $('#signup_form').submit();

      });
    })
    </script>
    <div style='display:none'>
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1255409445'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1255409445%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
    </div>
    
</html>
