<div id='home' class="section container first">
  <div id="myCarousel" class="carousel slide" data-interval="5000">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner">
      <div class="item banner-img2 active">
        <!--<%=image_tag 'banner-text-1.png', :class => 'banner-text' ,:style => 'margin-left: -442px;margin-top: -55px;'%>-->
        <h1 style="color: #fff">特快拉,全球首家无人教学机器人</h1>
        <h2>查分定位 3D演示 实时纠错 学考合一 AEB自动刹车</h2>
      </div>
      <div class="item banner-img1">
        <!--<%=image_tag 'banner-text-2.png', :class => 'banner-text' ,:style => 'margin-left: -289px;margin-top: -177px;'%>-->
        <h1>帮助驾校和教练高效管理</h1>
        <h2 style="margin-bottom: 210px;">提供学员报名、预约、教练管理的一站式服务</h2>
        <h2>学员轻松约 教练省心接</h2>
        <h2>学车有效率,特快拉</h2>
      </div>
    </div>
  </div>
</div>
<div id='student' class="section container container_2 second">
  <%=image_tag 'student.png', :class => 'photo' %>
</div>
<div id='teacher' class="section container container_2 third">
  <%=image_tag 'teacher.png', :class => 'photo' %>
</div>
<!--<div id='auto' class="section container forth">-->
  <!--<%=image_tag 'auto-teach.png', :class => 'photo forth_photo' %>-->
<!--</div>-->
<div id='partner' class="section container container_2 sixth">
  <%=image_tag 'partner.png', :class => 'photo' %>
</div>
<div id='download' class="section container sixth" style="margin-top:30px">
  <%=image_tag 'download.png', :class => 'photo' %>
  <ul class="dl-box">
    <li class="icon-channel_outer">
      <div class="icon-student"></div>
      <div class="bg-student"></div>
      <div class="QRcode-student_outer">
        <div class="QRcode-student"></div>
      </div>
    </li>
    <li class="icon-channel_outer">
      <div class="icon-teacher"></div>
      <div class="bg-techer"></div>
      <div class="QRcode-student_outer">
        <div class="QRcode-teacher"></div>
      </div>
    </li>
    <li class="icon-channel_outer">
      <div class="icon-shop"></div>
      <div class="bg-shop"></div>
      <div class="QRcode-student_outer">
        <div class="QRcode-shop"></div>
      </div>
    </li>
    <li class="icon-channel_outer">
      <div class="icon-channel"></div>
      <div class="bg-channel"></div>
      <div class="QRcode-student_outer">
        <div class="QRcode-student"></div>
      </div>
    </li>
    <li class="icon-channel_outer">
      <div class="icon-drivingSchool"></div>
      <div class="bg-drivingSchool"></div>
      <div class="QRcode-student_outer">
        <div class="QRcode-school"></div>
      </div>
    </li>
  </ul>
  <a class="download-btn">立即下载</a>
</div>
<script>
  $(function(){
    $('#myCarousel').carousel('cycle');

    $(document).on('mouseover','#myCarousel',function(){
      $('#myCarousel').carousel('pause');
    })

    $(document).on('mouseout','#myCarousel',function(){
      $('#myCarousel').carousel('cycle');
    })
  })
</script>
