<div id='home' class="section container first">
  <%=image_tag 'content.png', :class => 'first_photo' %>
  <a class="smoothScroll center-btn" href="#invite"></a>
</div>
<div id='student' class="section container container_2 second">
  <%=image_tag 'student.png', :class => 'photo' %>
</div>
<div id='teacher' class="section container container_2 third">
  <%=image_tag 'teacher.png', :class => 'photo' %>
</div>
<div id='auto' class="section container forth">
  <%=image_tag 'auto-teach.png', :class => 'photo forth_photo' %>
</div>
<div id='partner' class="section container container_2 sixth">
  <%=image_tag 'partner.png', :class => 'photo' %>
</div>
<!--<div id='invite' class="section container container_2 fifth">-->
  <!--<div class="container">-->
  <!--</div>-->
<!--</div>-->