<%=stylesheet_link_tag 'common', 'information' %>
<div class="im-box">
    <div class="im-container">
        <h1 class="im-title">行业资讯</h1>
        <ul class="im-list">
          <% if @articles.present? %>
              <% @articles.each do |article| %>
                  <li>
                    <div class="article-title">
                      <a href="<%= url(:article, :id=>article.id) %>"><%= article.title %></a>
                      <p>发表于:<%= article.created_at.strftime("%Y-%m-%d") %> </p>
                    </div>
                    <p>
                      <%= article.description %>
                      <a href="<%= url(:article, :id=>article.id) %>">查看全文</a>
                    </p>
                  </li>
              <% end %>
          <% end %>
        </ul>
    </div>
</div>

