<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <meta name="author" content="特快拉">
  <meta name="description" content="特快拉, 驾校互联网化，高效率学车，连接驾校的学员和教练，自动化教学颠覆科目二和科目三学车体验，解决驾校管理不便、学员约练麻烦的痛点">
  <meta name="keywords" content="特快拉，特快拉学车，驾校app，学车app，教练app，智能学车，无人教学，自动化教学，学车应用，约练，深圳驾校，教练预约，驾校，互联网驾校、学车报名">
  <meta id="viewport" name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1; user-scalable=no;">
  <link rel="icon" href="/images/favicon.ico">
  <title>特快拉 - 用技术提升驾培行业效率，让学车更简单</title>
  <%=javascript_include_tag 'jquery-1.11.0.min', 'jquery-ui.min', 'smoothscroll','bootstrap.min.js' %>
  <!-- Bootstrap core CSS -->
  <%=stylesheet_link_tag 'bootstrap.min', 'font-awesome.min', 'application' %>
  <!--[if lt IE 9]>
  <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
<header>
  <div class="container nav-top" >
    <div class="inner-top">
      <div class="navbar-header">
        <a href="/" class=" "><%=image_tag 'logo.png', :class=>'img-responsive logo'%></a>
      </div>
      <ul class="app-nav">
        <li class=""><a href="/robot">驾培机器人</a><div class=""></div></li>
        <li class=""><a href="/">SAAS平台</a><div class=""></div></li>
        <li class=""><a href="/articles" class="<%= "active" if current_page?(["articles"]) %>">行业资讯</a><div class=""></div></li>
        <li class=""><a href="/question" class="<%= "active" if current_page?(["question"]) %>">常见问题</a><div class=""></div></li>
        <li class=""><a href="/price" class="<%= "active" if current_page?(["price"]) %>">价格</a><div class=""></div></li>
        <li class=""><a href="/about" class="<%= "active" if current_page?(["about"]) %>">关于我们</a><div class=""></div></li>
      </ul>
      <div class="nav-mask"></div>
    </div>
  </div>
</header>
<%=yield%>
<footer class="footer">
  <div class="col-md-3 contact text-left">
      <!--<div class="ft_item_tit text-left">客服热线</div>-->
      <!--<div class="ft_contact_tel clearfix">-->
        <!--<span class="ico_tel"></span>-->
        <!--<span class="txt">400-845-6866</span>-->
      <!--</div>-->
      <!--<div id="contact_outer">-->
        <!--<div id="contact"></div>-->
      <!--</div>-->
    <p class="foot_text">华南区 杨经理 136-8688-0484</p>
  </div>
    <div class="col-md-3 contact text-left">
      <p class="foot_text">华北区 江经理 136-5720-1230</p>
    </div>
    <div class="col-md-3 contact text-left">
      <p>西南区 张经理 159-2350-3857</p>
    </div>
  <div class="wx_box">
    <div id="footer_wx_outer_active">
      <div id="footer_wx_active"></div>
    </div>
    <div id="erweima_outer">
      <div id="erweima"></div>
    </div>
  </div>

  <div class="clear"></div>
</footer>
<div class="col-md-12" style="text-align:center;padding-bottom:20px;background-color: #474747;">
  <!--<a class="bei an" target="_blank" href="http://www.miitbeian.gov.cn/">粤ICP备15043995号 (C)深圳萌萌车生活科技有限公司</a>-->
  <div id="footer_outer">
    <div id="footer"></div>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
  $('body').fadeOut(0).fadeIn(500);

    var _isMobile = navigator.userAgent.toLowerCase().indexOf('mobile');
    if(_isMobile != -1 ){
      $('.dl-box').hide();
      $('.download-btn').css('display','block');
    }
</script>
</body>
</html>